{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block current_page %} {{ current_page }} {% endblock %}


{% block css %}
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
{% endblock %}

{% block artist_active %} active {% endblock %}


{% block container %}
<div class="container-fluid">

<div class="row">

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ form_title }}</h6>
            </div>
            <div class="card-body">
                <span class='text-danger center' id="error-field"></span>
                <form method="POST" id="music-dynamic-form">
                    {% csrf_token %}
                    <div class="row">                       
                        <div class="col text-danger">
                        {{ form.title.errors }}                                                            
                        </div>
                        <div class="col text-danger">
                        {{ form.album_name.errors }}                                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        {% render_field form.title class="form-control" placeholder='Title' %}
                        </div>
                        <div class="col">
                        {% render_field form.album_name class="form-control" placeholder='Album Name' %}
                        </div>
                    </div> 
                    
                    
                    <br>
                    
                    <div class="row">                       
                        <div class="col text-danger">
                        {{ form.genre.errors }}                                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% render_field form.genre class="form-control" placeholder='Genre' %}                        
                        </div>                        
                    </div>                     

                    <br>
                    <button class="btn btn-primary" type="Submit"> Submit </button>
                </form>
            </div>
        </div>

    </div>
</div>

</div>

{% endblock %}


{% block script %}
    <script>

        function get_input_fields(){

            const onlyInputs = document.querySelectorAll('#music-dynamic-form input');
            var dict = {};

            onlyInputs.forEach(input => {
                dict[input.name] = input.value;
            });

            return dict
        }


        document.getElementById("music-dynamic-form").addEventListener("submit", function(event){
            if ('{{request_method}}' === 'patch'){
                event.preventDefault()
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const data = get_input_fields()
                const error_field = document.querySelector('#error-field')
                {% if request_method %}
                $.ajax({                    
                    type: "PATCH",
                    url: "{% url 'music_actions' identifier=music_id artist_id=artist_id %}",
                    data: data,
                    headers: {'X-CSRFToken': csrftoken},
                    contentType: "application/json",
                    success: function(response) {
                        // Handle the success response
                        window.location.href = "{% url 'music' id=artist_id %}";

                    },
                    error: function(xhr, status, error) {
                        // Parsing the JSON string into a JavaScript object
                        let jsonObject = JSON.parse(xhr.responseText);
                        error_field.innerHTML = jsonObject.error
                    }
                });
                {% endif %}
            }
          });
    </script>
{% endblock %}