{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block current_page %} {{ current_page }} {% endblock %}


{% block css %}
    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: -0.75rem;
        margin-left: -0.75rem;
    }
{% endblock %}

{% block users_active %} active {% endblock %}


{% block container %}
<div class="container-fluid">

<div class="row">

    <div class="col-lg-6">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ form_title }}</h6>
            </div>
            <div class="card-body">
                <span class='text-danger center' id="error-field"></span>
                <form method="POST" id="user-dynamic-form">
                    {% csrf_token %}
                    <div class="row">                       
                        <div class="col text-danger">
                        {{ form.first_name.errors }}                                                            
                        </div>
                        <div class="col text-danger">
                        {{ form.last_name.errors }}                                                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        {% render_field form.first_name class="form-control" %}
                        </div>
                        <div class="col">
                        {% render_field form.last_name class="form-control" %}
                        </div>
                    </div> 
                    
                    
                    <br>
                    
                    <div class="row">                       
                        <div class="col text-danger">
                        {{ form.gender.errors }}                                                            
                        </div>
                        <div class="col text-danger">
                        {{ form.address.errors }}                                                            
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            {% render_field form.gender class="form-control" %}                        
                        </div>                        
                        <div class="col">
                            {% render_field form.address class="form-control" %}
                        </div>
                    </div> 

                    <br>
                    <div class="row">    
                        <div class="col text-danger">
                            {{ form.dob.errors }}                                                            
                        </div>                   
                        <div class="col text-danger">
                            {% if error_messages.email_error %}
                                {{ error_messages.email_error }}
                            {% endif %}
                        {{ form.email.errors }}  
                        </div>
                        <div class="col text-danger">
                            {% if error_messages.phone_error %}
                                {{ error_messages.phone_error }}
                            {% endif %}
                            {{ form.phone.errors }} 
                        </div>                        
                    </div>

                    <div class="row">        
                        <div class="col">
                            {% render_field form.dob class="form-control" %}                           
                            </div>                                                                                                  
                        <div class="col">
                        {% render_field form.email class="form-control" %}
                        </div>                                                                                   
                        <div class="col">
                        {% render_field form.phone class="form-control" %}
                        </div>                        
                    </div> 

                    <br>
                    
                    <div class="row">
                       
                        <div class="col text-danger">
                        {{ form.password.errors }}                                                            
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            {% render_field form.password class="form-control" %}                        
                        </div>
                    </div>

                    <br>
                    <button class="btn btn-primary" type="Submit"> Submit </button>
                </form>
            </div>
        </div>

    </div>
</div>

</div>

{% endblock %}


{% block script %}
    <script>

        function get_input_fields(){

            const onlyInputs = document.querySelectorAll('#user-dynamic-form input');
            var dict = {};

            onlyInputs.forEach(input => {
                dict[input.name] = input.value;
            });

            return dict
        }


        document.getElementById("user-dynamic-form").addEventListener("submit", function(event){
            if ('{{request_method}}' === 'patch'){
                event.preventDefault()
                const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
                const data = get_input_fields()
                const error_field = document.querySelector('#error-field')
                {% if request_method %}
                $.ajax({                    
                    type: "PATCH",
                    url: "{% url 'user_actions' identifier=user_id %}",
                    data: data,
                    headers: {'X-CSRFToken': csrftoken},
                    contentType: "application/json",
                    success: function(response) {
                        // Handle the success response
                        window.location.href = "{% url 'users' %}";

                    },
                    error: function(xhr, status, error) {
                        // Parsing the JSON string into a JavaScript object
                        let jsonObject = JSON.parse(xhr.responseText);
                        error_field.innerHTML = jsonObject.error
                    }
                });
                {% endif %}
            }
          });
    </script>
{% endblock %}